ion-content {
    --padding-top: 30%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url('https://cutewallpaper.org/23/cute-baby-wallpaper-for-mobile/120592991.jpg') 0 0/100% 100% no-repeat;
  }

