<ion-content color="light">

  <ion-grid style="height: 50%; display: grid; align-items: center"> 
    <ion-row style="width: 100%">
        <ion-col>
            <app-register-form
                (stepEmit)="handleChangeStep($event)"
            ></app-register-form>
        </ion-col>
    </ion-row>
</ion-grid>

<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="step!== 1">
  <ion-fab-button (stepEmit)="handleChangeStep(step + 1)" >
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-fab-button>
</ion-fab> -->


</ion-content>
