<ion-tabs >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="diamond-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="list-home">
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="saved-profiles">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>