ion-avatar {
    width: 128px;
    height: 128px;
  }
   
  .preview {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
   
  .fallback {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: #bfbfbf;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }